@import url("./reset.css");

@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");

@import url("./sections/intro.css");
@import url("./sections/adolphe.css");
@import url("./sections/sectionThree.css");
@import url("./sections/verticalScroll.css");
@import url("./sections/features.css");
@import url("./sections/sapphire.css");
@import url("./sections/family.css");
@import url("./sections/familyMembers.css");
@import url("./sections/theConcerts.css");
@import url("./sections/goToConcert.css");
@import url("./sections/getInTouch.css");

:root {
  --color-accent-red: #c92e2f;
  --color-accent-yellow: #f1b509;
  --color--background-beige: #F6EFDD;
  --font-AlaChamp: "AlaChamp";
  --font-size-body-copy: clamp(1.125rem, 1.069rem + 0, 2vw, 1.713rem);
  --font-size-title: clamp(2rem, 1.82rem + 3.952vw, 100px);
}

@font-face {
  font-family: "AlaChamp";
  src: url("../fonts/ala_champ.ttf") format("truetype");
  font-family: "JanuaryShine";
  src: url("../fonts/januaryshine-zvrem.ttf") format("truetype");
}

body {
  color: white;
  font-family: "Baskervville", serif;
  background-color: #f6efdd;
  font-size: var(--font-size-body-copy);
}

main {
  margin: auto;
  position: relative;
  overflow-x: hidden;
  background-image: url("../assets/seamless-background.jpeg");
  /* z-index: -1; */
}

p {
  line-height: 1.3em;
}

h1 {
  font-size: var(--font-size-title);
}
img {
  max-width: 100%;
}

.intro,
.sectionTwo,
.features,
.sapphire,
.membersFamily {
  margin-inline: 5vw;
  padding-top: 3vh;
}

.cutted__background {
  height: 95px;
  background-image: url("../assets/background-cutted.png");
}

.cutted__background__up {
  height: 95px;
  background-image: url("../assets/background-cutted-up.png");
  background-position-x: right;
  z-index: 99;
}

.sapphire__song {
  z-index: 999;
  cursor: pointer;
}
