.sectionTwo {
  display: grid;
}
.sectionTwo {
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 20vh 30vh 10vh 20vh 20vh;
  text-align: center;
  place-items: center;
  gap: 2vh;
}

/* Mobie version  */
@media screen and (min-width: 390px) and (max-width: 834px) {
  .sectionTwo__title {
    position: relative;
    top: 7rem;
    z-index: 999;
    font-size: 3rem;
  }

  .sectionTwo__adolphe {
    position: relative;
    max-width: 220vw;
    bottom: 70px;
    margin: 0 auto;
  }

  .sectionTwo__text {
    display: grid;
    gap: 20px;
    place-items: center;
  }

  .sectionTwo__secretButton {
    grid-row: 5;
  }

  .sectionTwo__mannekePis {
    position: absolute;
    bottom: 28rem;
    left: 18rem;
  }
}

/* Ipad version */
@media screen and (min-width: 834px) and (max-width: 1512px) {
  .background__sectionTwo {
  background: url("../../assets/ipad/background-cutted.png");
  background-size: cover;
}
}