.sectionTwo {
  display: grid;
}
.sectionTwo {
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 20vh 20vh 20vh 20vh 15vh;
  text-align: center;
  place-items: center;
  gap: 2vh;
}

/* Mobie version  */
@media screen and (min-width: 390px) and (max-width: 834px) {
  .sectionTwo__title {
    position: relative;
    top: 5rem;
    z-index: 999;
    font-size: 3rem;
  }

  .sectionTwo__adolphe {
    position: relative;
    max-width: 220vw;
    bottom: 13vh;
    margin: 0 auto;
    z-index: 1;
  }

  .sectionTwo__text {
    display: grid;
    gap: 20px;
    place-items: center;
  }

  .title__date {
    left: 350px;
  }
  .sectionTwo__secretButton {
    grid-row: 5;
  }

  .sectionTwo__mannekePis {
    position: relative;
    bottom: 20rem;
    left: 9rem;
  }
}

/* Ipad version */
@media screen and (min-width: 834px) and (max-width: 1512px) {
}
