.familyMembers {
  display: grid;
  height: 100vh;
  gap: 2.5vh;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 50vh 20vh 10vh;
  align-self: center;
  text-align: center;
  place-content: center;
  place-items: center;
}

.familyMembers__h1 {
  font-family: "JanuaryShine";
  font-weight: 200;
  font-size: 4rem;
  color: var(--color-accent-yellow);
}

.familyMembers__member {
  font-family: "AlaChamp";
  font-size: 1.5rem;
  color: var(--color-accent-red);
}
.button__style {
  background-color: var(--color-accent-red);
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.familyMembers__information {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.button__style:hover {
  background-color: #fff;
}

/* Ipad version */
@media screen and (min-width: 834px) and (max-width: 1512px) {
  .familyMembers {
    display: grid;
    height: 100vh;
    gap: 2.5vh;
    grid-template-rows: 10vh 40vh 20vh 10vh;
    align-self: center;
    text-align: center;
    place-content: center;
    place-items: center;
    align-content: center;
  }
  .familyMembers img {
    width: 40vh;
  }
  .familyMembers__h1 {
    font-size: 7rem;
  }
  .familyMembers__information {
    margin-inline: 5vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .familyMembers__member {
    font-size: 3rem;
  }

  .button__style {
    min-width: 20vh;
    padding: 1vh 2vh;
    font-size: 1.4rem;
  }
}

/* Mackbook pro 14 inch - Verion */
@media screen and (min-width: 1512px) {
  .familyMembers__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .familyMembers {
    gap: 5rem;
    margin-bottom: 4rem;
  }
}
