.family__title__family,
.span__to {
  font-style: italic;
}
.family {
  min-height: 100vh;
  background-image: url("../../assets/mobile/features/background__feature.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.family__p {
  font-size: 1.4rem;
}
.family__title {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.family__title p {
  font-size: 3.3em;
}

.span__to {
  font-size: 2rem;
}

.span__family {
  color: #f1b509;
}

/* Ipad version */
@media screen and (min-width: 834px) and (max-width: 1512px) {
  .family__title {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .family__p {
    font-size: 2.5rem;
  }

  .family__title p {
    font-size: 6.5rem;
  }
}
