.goToConcerts {
  display: grid;
  height: 100vh;
  text-align: center;
  align-content: center;
  place-items: center;
  grid-template-rows: 10vh 40vh 20vh 10vh;
}

.goToConcerts__adolpheAndSapphire {
  font-size: 1.5rem;
}
.goToConcerts__title {
  font-size: 3.2rem;
}
.goToConcerts__title__small {
  font-style: italic;
  font-size: 1.9rem;
}

.goToConcerts__title__freeTime {
  font-style: italic;
  color: var(--color-accent-yellow);
}

.goToConcerts__join {
  font-size: 1.9rem;
  color: var(--color-accent-red);
}

.goToConcerts i, .goToConcerts__join {
  color: var(--color-accent-red);
}


