:root {
  --red-accent: #c92e2f;
}

/* Mobie version */
@media screen and (max-width: 390px) {
  .intro {
    display: flex;
    flex-direction: column;
    margin-inline: var(--spacing);
    text-align: center;
    gap: 25px;
  }
  .intro__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .intro__navigation__language {
    display: flex;
    align-items: flex-end;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .intro__title,
  .intro__loveStory {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2.5em;
  }

  .intro__title--small {
    font-size: 1.1rem;
  }

  .intro__loveStory {
    display: flex;
    justify-content: center;
  }

  .backgroundAdolphe {
    position: absolute;
    z-index: -1;
    top: 12rem;
  }

  .intro__body {
    font-size: 20px;
  }

  .intro__body--red {
    font-size: 16px;
    font-family: Baskerville italic;
    color: var(--red-accent);
  }

  .intro__arrows {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

/* Ipad 11 inch - Verion */
@media screen and (min-width: 834px) and (max-width: 1511px) {
}

/* Mackbook pro 14 inch - Verion */

@media screen and (min-width: 1512px) {
}
