:root {
  --red-accent: #c92e2f;
}

.intro {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 10vh 10vh 40vh 10vh 10vh 10vh;
  gap: 0.8rem;

  margin-block: 3vh;
  margin-inline: 3vh;
}

.intro__logoMim {
  place-items: left;
  grid-column: 1;
}

.intro__body {
  display: grid;
  grid-row: 2;
  grid-template-rows: 30% 10%;
  place-items: center;
  align-content: center;
}
.intro__title {
  font-family: AlaChamp;
  font-size: 8vmin;
}

.intro__title--small {
  font-size: 3vmin;
  font-family: Baskerville, italic;
}

.loveStory {
  grid-row: 2;
  align-content: center;
  position: relative;
  top: 25px;
  right: -1vh;
}

.intro__adolpheSax {
  display: grid;
  justify-content: center;
  align-items: center;
  place-content: center;
}

.intro__img {
  grid-row: 3;
  width: 40vh;
  background-image: url("../../assets/mobile/header/background-behind-adolphe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.intro__text,
.intro__text--scroll {
  text-align: center;
  align-self: center;
}

.intro__text {
  grid-row: 4;
}

.intro__text--scroll {
  grid-row: 5;
  color: red;
  align-self: flex-start;
}

.intro__arrows {
  grid-row: 6;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.arrows {
  width: 10%;
}

/* Mobie version  */
@media screen and (min-width: 390px) {
}

/* Ipad version */
@media screen and (min-width: 834px) and (max-width: 1511px) {
  .intro {
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 5vh 15vh 35vh 10vh 8vh 15vh;
    gap: 2rem;

    margin-block: 5vh;
    margin-inline: 10vw;
  }

  .intro__title {
    gap: 200%;
  }

  .intro__body {
    gap: 4vh;
  }

  .loveStory {
    top: 12px;
  }
}

/* Mackbook pro 14 inch - Verion */
/* 
@media screen and (min-width: 1512px) {
  .intro {
    display: grid;
    grid-template-columns: 40vw 60vw ;
    border: solid red 2px;
  }
} */
