
.sapphire {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(6, 13.5%);
  height: 100vh;
  background-image: url("../../assets/mobile/sapphire/saxophone.png");
  background-repeat: no-repeat;
  background-position: center;
}

.sapphire i {
color: var(--color-accent-red);
}

.sapphire__mouth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  grid-area: 2 / 1 / 2 / 5;
  gap: 1vh;
}

.sapphire__body {
  display: flex;
  align-items: center;
  gap: 4vh;
  justify-items: center;
  grid-area: 3 / 1/ 4 / 5;
}
.sapphire__rightHand {
  display: flex;
  align-items: flex-end;
  grid-area: 4 / 1 / 5 / 5;
}
.sapphire__leftHand {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  grid-area: 3 / 7 / 3 / 11;
  gap: 3vh;
}

.sapphire__bell {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-area: 5 / 7 / 5 / 11;
  gap: 4vh;
}
