.getToKnowHer {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.getToKnowHer p {
  font-style: italic;
  color: var(--color-accent-red);
}
.sapphire {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(6, 13.5%);
  height: 100vh;
  background-image: url("../../assets/mobile/sapphire/saxophone.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  text-align: center;
}

.sapphire i {
  color: var(--color-accent-red);
}

.sapphire h1 {
  grid-column: 1 / 11;
}

.sapphire__mouth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  grid-area: 2 / 1 / 2 / 5;
  gap: 1vh;
}

.sapphire__body {
  display: flex;
  align-items: center;
  gap: 4vh;
  justify-items: center;
  grid-area: 3 / 1/ 4 / 5;
}
.sapphire__rightHand {
  display: flex;
  align-items: flex-end;
  grid-area: 4 / 1 / 5 / 5;
}
.sapphire__leftHand {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  grid-area: 3 / 7 / 3 / 11;
  gap: 3vh;
}

.sapphire__bell {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-area: 5 / 7 / 5 / 11;
  gap: 4vh;
}

/* Cards info */
.sapphire__mouth--info {
  position: absolute;
  top: 8150px;
  z-index: 999;
  display: none;
  height: 50vh;
  margin-inline: 5vh;
  color: black;
  background-image: url("../../assets/mobile/sapphire/paper-cut-2.png");
  background-position: top;
  background-repeat: no-repeat;
  justify-content: space-between;
  gap: 7vh;
  flex-direction: column;
}

.sapphire__text {
  display: flex;
  margin-top: 3vh;
  text-align: center;
  flex-direction: column;
  gap: 2.5vh;
  justify-content: center;
  align-items: center;
  margin-inline: 20px;
}

.sapphire__h1 {
  color: var(--color-accent-red);
  line-height: 3vh;
}

.mouthCloseBtn,
.bodyCloseBtn,
.leftHandCloseBtn,
.rightHandCloseBtn,
.bellCloseBtn {
  text-align: end;
  padding-right: 1vh;
}

.star {
  text-align: center;
  color: var(--color-accent-yellow);
  opacity: 80%;
}

.sapphire__smallText {
  font-size: 1.4rem;
}

/* Body info */
.sapphire__body--info {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 8150px;
  height: 50vh;
  margin-inline: 5vh;
  z-index: 999;
  gap: 7vh;
  color: black;
  background-image: url("../../assets/mobile/sapphire/paper-cut-body.png");
  background-position: top;
  background-repeat: no-repeat;
}

/* Lefthand info */
.sapphire__leftHand--info {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 8150px;
  height: 50vh;
  margin-inline: 5vh;
  z-index: 999;
  gap: 7vh;
  color: black;
  background-image: url("../../assets/mobile/sapphire/paper-cut-leftHand.png");
  background-position: top;
  background-repeat: no-repeat;
}

/* Righthand info */
.sapphire__rightHand--info {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 8150px;
  height: 50vh;
  margin-inline: 5vh;
  z-index: 999;
  gap: 7vh;
  color: black;
  background-image: url("../../assets/mobile/sapphire/paper-cut-rightHand.png");
  background-position: top;
  background-repeat: no-repeat;
}

/* Bell info */
.sapphire__bell--info {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 8150px;
  height: 50vh;
  margin-inline: 5vh;
  z-index: 999;
  gap: 7vh;
  color: black;
  background-image: url("../../assets/mobile/sapphire/paper-cut-bell.png");
  background-position: top;
  background-repeat: no-repeat;
}

/* Ipad version */
@media screen and (min-width: 834px) and (max-width: 1512px) {
  .sapphire {
    background-size: 50%;
  }
  .sapphire p {
    font-size: 1.8rem;
  }

  .sapphire i {
    font-size: 4rem;
  }

  .sapphire__mouth {
    align-items: center;
    flex-direction: row;
    grid-area: 2 / 1 / 2 / 6;
  }

  .sapphire__body {
    grid-area: 4 / 1/ 4 / 5;
  }
  .sapphire__rightHand {
    text-align: left;
    align-items: flex-end;
    grid-area: 5 / 1 / 5 / 5;
  }
  .sapphire__leftHand {
    align-items: flex-end;
    text-align: left;
    grid-area: 3 / 6 / 4 / 11;
  }
  .sapphire__mouth--info,
  .sapphire__body--info,
  .sapphire__leftHand--info,
  .sapphire__rightHand--info,
  .sapphire__bell--info {
    top: 11880px;
    background-size: cover;
  }
}

/* Mackbook pro 14 inch - Verion */
@media screen and (min-width: 1512px) {
  .sapphire {
    background-size: 30%;
  }
  .sapphire p {
    font-size: 2.2rem;
  }
  .sapphire i {
    font-size: 4rem;
  }
  .sapphire__mouth {
    grid-area: 2 / 1 / 2 / 5;
    justify-content: flex-end;
    gap: 6vh;
  }
  .sapphire__text {
    gap: 8vh;
    margin-inline: 10%;
  }
  .sapphire__body {
    grid-area: 4 / 1/ 4 / 5;
    justify-content: flex-end;
    gap: 6vh;
  }
  .sapphire__rightHand {
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    gap: 6vh;
    grid-area: 5 / 1 / 5 / 5;
  }
  .sapphire__leftHand {
    align-items: flex-end;
    flex-direction: row;
    text-align: left;
    grid-area: 3 / 5 / 4 / 11;
  }
  .sapphire__mouth--info,
  .sapphire__body--info,
  .sapphire__leftHand--info,
  .sapphire__rightHand--info,
  .sapphire__bell--info {
    top: 10950px;
    margin-inline: 20%;
    height: 750px;
    background-size: cover;
  }

  .sapphire__bell {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-area: 5 / 5 / 5 / 11;
    gap: 4vh;
  }
}
