.background__sectionThree {
  background-color: #f6efdd;
}

/* Mobie version  */
@media screen and (min-width: 390px) and (max-width: 834px) {
  .sectionThree {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: 1fr 1fr 1fr;
    place-content: center;
    align-self: center;
  }

  .flowers {
    grid-row: 2;
    grid-column: 2;
  }

  .head__adolphe {
    grid-row: 2;
    grid-column: 1;
  }

  .saxophone {
    grid-row: 2;
    grid-column: 3;
  }
}
