.background__sectionThree {
  background-color: #f6efdd;
}

.sectionThree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sectionThree__images {
  display: flex;
  margin-block: 5rem;
  justify-content: center;
  align-items: center;
}

.sectionThree h1 {
  font-size: 3.5rem;
  font-family: Alachamp;
  color: #C92E2F;
}
.sectionThree img {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.flowers {
  z-index: 1;
}

.head__adolphe {
  z-index: 2;
  right: 200px;
}

.saxophone {
  z-index: 2;
  left: 200px;
}
