.background__sectionThree {
  background-color: #f6efdd;
}

.sectionThree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sectionThree__images {
  display: flex;
  height: auto;
  margin-block: 5rem;
  justify-content: center;
  align-items: center;
}

.sectionThree h1 {
  font-family: Alachamp;
  color: #c92e2f;
}
.sectionThree img {
  position: relative;
}
.flowers {
  z-index: 1;
}

.head__adolphe {
  z-index: 2;
  left: 9vh;
}

.saxophone {
  z-index: 2;
  right: 9vh;
}

/* Ipad version */
@media screen and (min-width: 834px) and (max-width: 1512px) {
  .sectionThree__adolpheSax,
  .sectionThree__sapphire {
    font-size: 7em;
  }
  .saxophone {
    right: 9vh;
  }
}

/* Mackbook pro 14 inch - Verion */
@media screen and (min-width: 1512px) {
 .saxophone {
    right: 12vh;
  }
}
